Features due by 5/10:
 1) A logged-in user can comment on a menu item.
 2) Menu items can be filtered by a few more useful criteria (restrictions? price?).

------------------------------------------------------------------------------

Features due by 4/30:
 1) A logged-in user can add money to their balance.
 2) A logged-in user can add items to their shopping cart.
 3) A logged-in user with a non-empty cart can "place an order."
 4) Any user can filter the menu by some useful criterion (perhaps food category or keyword?).

Teamwork balancing requirement:
- Ahmed needs to be the primary committer for at least three of these features.
- It is acceptable to do this by pair/team programming where Ahmed is the driver.
- It's also acceptable to divide the work, as long as Ahmed is assigned three features.

------------------------------------------------------------------------------

Features due by 4/16:
 1) Home page that lists all menu items in some default order. <DONE>
 2) Item page that describes a menu item in more detail than you see on the home page.
 3) Ability to log in and log out. <DONE>
 4) Profile page for a logged-in user that shows the user's balance and lists items in the user's shopping cart. <DONEish>

Sample data you'll probably need to demonstrate these features:
- A menu collection (with some menu items)
- A users collection (with a couple of users)

Feedback:
- Completed 3/4 requirements (1,2,3) and started the 4th.
- Eventually you're going to want a profile page that only the user can access.
- Eventually you're probably not going to want to have a "view all users" page.
- Teamwork needs to be balanced out during stage 2 (see teamwork requirement above).
