.relative-position{
  position: relative;
}
.big-text{
  font-size: 5rem;
}

#preview{
  height: 300px;
  width: 300px;
}

#preview2{
  height: 200px;
  width: 200px;
}

#heading{
  font-size: 3.5rem;
}

#subheading{
  font-size: 2.25rem;
}

#subheading2{
  font-size: 1.75rem;
}

#card:hover{
  background-color: #fff;
  border-color: #ADDFFF;
  border-width: 1.5px;
}

#menuCard:hover {
  background-color: #ADDFFF;
  border-color: #fff;
  border-width: 2.5px;
}

#menuCard{
  border-color: #fff;
  border-width: 2.5px;
}

#card{
  border-width: 1.5px;
  width: 235px;
  height: 400px;
}

#card img{
  margin: 5px;
}

#menuCard h4 {
  font-size:1.2rem;
}

#review{
  border-radius: 5px;
  border-width: 1px;
}
